*{
    margin: 0px;
    padding: 0px;
    font-family: 'open sans', sans-serif;
}
.container{
    max-width: 1500px;
    margin: auto;
}

/*nav bar */
.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;    
}

.nav-list ul, li , a{
    text-decoration: none;
    color: #575757;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 8px;
    align-items: center;
    font-size: 20px;
}


.common-btn{
    background-color: rgb(29,78,216);
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    
}

.common-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/*hero section*/

.hero-parent-container{
    background-image: 
    linear-gradient(to right,
            rgba( 0, 0, 0, 1.8),
            rgba(0, 0, 0, 0)),
    url(./assets/banner.jpg);
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-container{
    align-items: center;
    text-align: center;
}

.hero-container h1{
    font-size: 110px;
    padding: 20px;
}

.hero-container p{
    font-size: 33px;
    padding: 20px;
    margin-bottom: 300px;
}

.hero-container button{
    margin-bottom: 0px;
    padding: 20px 60px;
    font-size: 35px;
    margin-top: 20PX;
    
}
.hero-container button:hover{
   box-shadow: 0 10px 20px rgba(255, 255, 255, 0.193);
}